.toggle_theme {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.toggle_theme button {
    font-size: 15px;
    padding: 0 5px;
}